<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Profil Admin
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- {{ momentdate }} -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <!-- <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0">FINAS License Approved</h3>
          </div>
          <div class="card-body">
            <div id="chartdivone" style="width: 100%; height: 400px"></div>
          </div>
        </div>
      </div>
    </div> -->

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Kemaskini Maklumat</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Alamat Emel</label>
            <input
              type="email"
              class="form-control"
              placeholder="contoh: namapenuh@lpb.com.my"
            />
          </div>
          <div class="form-group">
            <label>No. Telefon</label>
            <input
              type="tel"
              class="form-control"
              placeholder="contoh: 6012-3456789"
            />
          </div>
          <div class="form-group">
            <label>Alamat Surat Menyurat</label>
            <textarea
              class="form-control"
              rows="4"
              placeholder="contoh: No 46, Jalan Sepang, 43100, Sepang, Selangor"
            ></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-success btn-sm">Kemaskini</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Tukar Kata Laluan</h3>
        </div>
        <div class="card-body">
          <div class="alert alert-default" role="alert">
            <strong
              >Kata Laluan mestilah antara 8-12 aksara, mempunyai 1 huruf besar,
              1 huruf kecil dan 1 simbol khas.</strong
            >
          </div>
          <div class="form-group">
            <label>Kata Laluan</label>
            <input type="password" class="form-control" />
          </div>
          <div class="form-group">
            <label>Ulang Kata Laluan</label>
            <input type="password" class="form-control" />
          </div>
          <div class="text-center">
            <button class="btn btn-success btn-sm">Tukar Kata Laluan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
