<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">
            Pelaburan
          </h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <!-- {{ momentdate }} -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Daftar Pelaburan</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Nombor Rujukan</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="contoh: 1013"
                />
              </div>
              <div class="form-group">
                <label>Nama Bank</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="contoh: Malayan Banking Berhad"
                />
              </div>
              <div class="form-group">
                <label>Nilai Pelaburan (RM)</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="contoh: 100,000"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Sumber Dana/Projek</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="contoh: Jabatan Pertanian Malaysia"
                />
              </div>
              <div class="form-group">
                <label>Kadar Pelaburan (%)</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="contoh: 6.5"
                />
              </div>
              <div class="form-group">
                <label>Tempoh Pelaburan (Tahun)</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="contoh: 9"
                />
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success btn-sm">Hantar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Kadar Tawaran Bank (Per Tahun)</h3>
          <!-- <small>Contoh: Maybank (10%), RHB (5%), Bank Islam (7%)</small> -->
        </div>
        <div class="card-body">
          <div id="chartdivone" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Jumlah Deposit Sedia Ada</h3>
          <!-- <small>(Bank & Pengurus Amanah)</small> -->
        </div>
        <div class="card-body">
          <div id="chartdivtwo" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Unjuran Keuntungan</h3>
          <small>Hari (x-axis) / Keuntungan (y-axis)</small>
        </div>
        <div class="card-body">
          <div id="chartdivthree" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Prestasi Pulangan</h3>
          <small>Hari (x-axis) / Keuntungan (y-axis)</small>
        </div>
        <div class="card-body">
          <div id="chartdivfour" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Senarai Laporan</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Sila lakukan carian di sini"
                />
              </div>
            </div>
            <div class="col-2 p-1">
              <button class="btn btn-success btn-sm">Carian</button>
            </div>
          </div>
          <div class=" table-responsive">
            <table class=" table align-items-center table-flush">
              <thead class=" thead-light">
                <tr>
                  <th scope="col">No</th>

                  <th scope="col">Tajuk Laporan</th>

                  <th scope="col">Tarikh Kemaskini</th>

                  <th scope="col">Tindakan</th>
                </tr>
              </thead>

              <tbody class=" list">
                <tr>
                  <td>1</td>
                  <td>Laporan Bajet Bagi Setiap Pusat Kos 2020</td>
                  <td>31/01/2020</td>
                  <td>
                    <button
                      class="btn btn-success btn-sm"
                      placement="top"
                      ngbTooltip="Fail Excel"
                    >
                      <i class="fas fa-file-excel"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      placement="top"
                      ngbTooltip="Fail PDF"
                    >
                      <i class="fas fa-file-pdf"></i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>2</td>
                  <td>Laporan Bajet Keseluruhan Pusat Kos 2020</td>
                  <td>31/01/2020</td>
                  <td>
                    <button
                      class="btn btn-success btn-sm"
                      placement="top"
                      ngbTooltip="Fail Excel"
                    >
                      <i class="fas fa-file-excel"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      placement="top"
                      ngbTooltip="Fail PDF"
                    >
                      <i class="fas fa-file-pdf"></i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>3</td>
                  <td>Laporan Komitmen Keseluruhan Pusat Kos 2020</td>
                  <td>29/02/2020</td>
                  <td>
                    <button
                      class="btn btn-success btn-sm"
                      placement="top"
                      ngbTooltip="Fail Excel"
                    >
                      <i class="fas fa-file-excel"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      placement="top"
                      ngbTooltip="Fail PDF"
                    >
                      <i class="fas fa-file-pdf"></i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>4</td>
                  <td>
                    Laporan Perbelanjaan bagi Kod Akaun dan Pusat Kos 2020
                  </td>
                  <td>30/03/2020</td>
                  <td>
                    <button
                      class="btn btn-success btn-sm"
                      placement="top"
                      ngbTooltip="Fail Excel"
                    >
                      <i class="fas fa-file-excel"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      placement="top"
                      ngbTooltip="Fail PDF"
                    >
                      <i class="fas fa-file-pdf"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
